#header > ul{
  list-style-type: none;
  margin-top: 0;
  font-weight: 600;
  padding-left: 0;
  font-size: 12px;
}

#header {
  background-color: black;
  height: 15px;
}

#header > ul > li {
  padding: 0 10px 0 10px;
}

body {
  background-color: rgb(31, 31, 31);
  color: white;
}

#rankDisplay {
  display: flex;
}

#divisionImage {
  height: 200px;
}

#divisonTierTitle {
  font-size: 20px;
}