#header > ul{
  list-style-type: none;
  margin-top: 0;
  font-weight: 600;
  padding-left: 0;
  font-size: 12px;
}

#header {
  background-color: black;
  height: 15px;
}

#header > ul > li {
  padding: 0 10px 0 10px;
}

body {
  background-color: rgb(31, 31, 31);
  color: white;
}

#rankDisplay {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

#divisionImage {
  height: 150px;
  margin-top: 10px;
}

#rankDisplayFlexItem {
  flex-grow: 2;
  margin-left: -5px;
  margin-top: -5px;
}

#summonerName {
  margin-bottom: 0px;
  margin-top: 30px;
}

#divisonTierTitle {
  margin-top: 0px;
  font-size: 11px;
  margin-bottom: 1px;
}

#notification {
  pointer-events: none;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 200px;
  height: 50px;
}

#success {
  background-color: green;
  text-align: center;
  border-radius: 15px;
  height: 25px;
}

#failed {
  background-color: red;
  text-align: center;
  border-radius: 15px;
  height: 25px;
}

#summonerConfig {
  margin: auto;
  text-align: center;
}

#matchHistory > h1{
  margin-left: 15px;
  margin-bottom: 10px;
}

#matchHistory {
  margin-top: -25px;
}

.match {
  display: flex;
  margin-bottom: 10px;
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
  flex-wrap: nowrap;
}

.match > p {
  margin: 0px;
}

.loadingDot {
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgb(34, 34, 34);
  border-radius: 50%;
  display: inline-block;
  animation: loadingDotAnimation 4s infinite;
}

.dotOne {
  animation-delay: 0s;
}

.dotTwo {
  animation-delay: 0.2s;
}

.dotThree {
  animation-delay: 0.4s;
}

.dotFour {
  animation-delay: 0.6s;
}

.loadingScene {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

#winLoss {
  margin-top: 0px;
  font-size: 11px;
}

.loadingScene > p {
  margin-top: 0px;
  font-size: 13px;
}

@keyframes loadingDotAnimation {
  0% {
    background-color: rgb(34, 34, 34);
  }
  50% {
    background-color: rgb(102, 102, 102);
  } 
  100% {
    background-color: rgb(34, 34, 34);
  }
}